<!-- pjoinroom.html -->

  <div class="m-0 p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 avalon">AVALON</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Player console</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="" method="post" action="https://formspree.io/">
            <div class="form-group"> <label>Join room</label>
              <input type="number" name="room" class="form-control" placeholder="XXXX"> </div>
            <div class="form-group"> <label>Your name</label>
              <input type="name" name="name" class="form-control" placeholder="John Doe"> </div>
            <button type="submit" class="btn w-100 text-left text-light btn-info">Join</button>
          </form>
        </div>
      </div>
    </div>
  </div>