<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="playerconsole.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:200,400,800" rel="stylesheet">
  <style>
    .avalon {
      font-family: 'Saira Semi Condensed';
      font-weight: 800;
      margin-bottom: -20px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">AVALON</a>
      <div class="text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Intel</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-4">
          <h1 class="">Team Leader</h1>
          <p class="lead m-2">Select your team - [2] players</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item list-group-item-action active">John Doe </li>
            <li class="list-group-item list-group-item-action">Jane Doe</li>
            <li class="list-group-item list-group-item-action active">June Doe</li>
            <li class="list-group-item list-group-item-action">July Doe</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-primary btn-block btn-lg active py-2 m-0" href="" data-toggle="">Select Team </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>