<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="playerconsole.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:200,400,800" rel="stylesheet">
  <style>
    .avalon {
      font-family: 'Saira Semi Condensed';
      font-weight: 800;
      margin-bottom: -20px;
    }
    .badinline {
        background-color: #EF7674;
        color: white;
        padding: 3px 5px;
      }
      .goodinline {
        background-color: #0195ba;
        color: white;
        padding: 3px 5px;
      }
      .greyinline {
        background-color: grey;
        color: white;
        padding: 3px 5px;
      }
      .good {
          color: #0195ba;
      }
      .bad {
          color: #EF7674;
      }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">AVALON</a>
      <div class="text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" ng-click="gotogame()">Return to Game</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div >
      <div class="text-center py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="good" ng-show="char=='Merlin'">Merlin</h1>
              <h1 class="good" ng-show="char=='Knight'">Knight</h1>
              <h1 class="bad" ng-show="char=='Minion'">Minion</h1>
              <h1 class="bad" ng-show="char=='Assassin'">Assassin</h1>
              <h1 class="bad" ng-show="char=='Mordred'">Mordred</h1>
              <h1 class="good" ng-show="char=='Percival'">Percival</h1>
              <h1 class="bad" ng-show="char=='Morgana'">Morgana</h1>
              <h1 class="bad" ng-show="char=='Oberon'">Oberon</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"> </div>
          </div>
          <div class="row">
            <div class="col-md-12" ng-show="char=='Merlin'">
              <p class="lead"><i>The Great Wizard of Avalon.</i>
                  <br>Thy visions warn thee against <span ng-repeat-start="i in intel" class="badinline">{{i}}</span><span ng-repeat-end> <span ng-hide="$index>=intel.length-2">,</span><span ng-show="$index==intel.length-2"> and </span></span>, for they are agents of Evil. But thee must speak of it only in riddles. If thine true identity is discovered, all will be lost.</p>
            </div>
              <div class="col-md-12" ng-show="char=='Knight'">
              <p class="lead"><i>A mighty soldier loyal to King Arthur.</i>
                <br>Thou must assist in securing the success of the quests. Beware of the Minions of Mordred as they lurk among thee. Keep an ear out for Merlin's riddles and Percival's council.
            </div>
              <div class="col-md-12" ng-show="char=='Minion'">
              <p class="lead"><i>A mighty soldier loyal to Mordred.</i>
                  <br>Thou art a spy among King Arthur's Knight. Aid thine fellows <span ng-repeat-start="i in intel" class="badinline">{{i}}</span><span ng-repeat-end> <span ng-hide="$index>=intel.length-2">,</span><span ng-show="$index==intel.length-2"> and </span></span> in sabotaging Arthur's efforts. Thou must first gain their trust if thee wish to be allowed access to their schemes. Do what thee wilt.</p>
            </div>
              <div class="col-md-12" ng-show="char=='Assassin'">
              <p class="lead"><i>A dark assassin.</i>
                <br>Thou must infiltrate the enemy and seek out Merlin. His death ought to be the key to Mordred's success. Hurry, time is fleeting. Consult with thine fellows <span ng-repeat-start="i in intel" class="badinline">{{i}}</span><span ng-repeat-end> <span ng-hide="$index>=intel.length-2">,</span><span ng-show="$index==intel.length-2"> and </span></span> and find him with haste.</p>
            </div>
              <div class="col-md-12" ng-show="char=='Mordred'">
              <p class="lead"><i>The most powerful dark wizard Avalon has ever seen.</i>
                <br>Mordred's powerful magic hides his actions and identity even from Merlin himself. Your minions <span ng-repeat-start="i in intel" class="badinline">{{i}}</span><span ng-repeat-end> <span ng-hide="$index>=intel.length-2">,</span><span ng-show="$index==intel.length-2"> and </span></span> await your command.</p>
            </div>
              <div class="col-md-12" ng-show="char=='Morgana'">
              <p class="lead"><i>The shapeshifting demon.</i>
                <br>Thou art to decieve the Knights as Merlin, so they hark instead to thy council. Thou along with your fellows <span ng-repeat-start="i in intel" class="badinline">{{i}}</span><span ng-repeat-end> <span ng-hide="$index>=intel.length-2">,</span><span ng-show="$index==intel.length-2"> and </span></span> shall leadeth Arthur and his followers to their doom</p>
            </div>
              <div class="col-md-12" ng-show="char=='Oberon'">
              <p class="lead"><i>Prince of the tree elves.</i>
                <br>Thee despise Mordred for meddling in thy business, but thee despise Arthur more for he may cost thee thy home. While Mordred and his minions may not know of thee, Merlin does, thou must tread carefully.</p>
            </div>
              <div class="col-md-12" ng-show="char=='Percival'">
              <p class="lead"><i>King Arthur's mightiest Knight and Merlin's gaurd.</i>
                  <br><span ng-show="intel.length==1">Thou must protect <span class="goodinline">{{intel[0]}}</span>'s true identity or all will be lost.</span>
                  <span ng-show="intel.length==2">Some dark magic is at play, thine eyes trick thee for you see two of Merlin - <span ng-repeat-start="i in intel" class="greyinline">{{i}}</span><span ng-repeat-end><span ng-show="$index==intel.length-2"> and </span></span>. One of them must be the evil shapeshifter, Morgana. Thou must seek out Merlin hastily or all will be lost.</span>
                  Heed his warnings and lead the other Knights and Avalon to victory.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <img class="img-fluid d-block mx-auto rounded" ng-src="{{images[char]}}"> </div>
          </div>
        </div>
      </div>
      <!--<div class="py-4" ng-hide="(char=='Knight' || char=='Oberon')">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-left" contenteditable="true" ng-hide="char=='Percival'">Agents of Evil</h4>
              <h4 class="text-left" contenteditable="true" ng-show="char=='Percival'">Merlin</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-left">
              <ul class="list-group">
                <li ng-repeat="i in intel" class="list-group-item">{{i}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>-->
    </div>
</body>

</html>