
<div class="bg-dark" style="height:100vh">
  <div class="m-0 p-0 ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 avalon text-light">AVALON</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-light">Player console</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="">
            <div class="form-group text-light"> <label>Join room</label>
              <input type="number" pattern="\d*" name="room" class="form-control" placeholder="XXXX" ng-model="r"> </div>
            <div class="form-group text-light"> <label>Your name</label>
              <input type="name" name="name" class="form-control" placeholder="John Doe" ng-model="pname"> </div>
            <button ng-click="join()" class="btn w-100 text-left text-light btn-info">Join</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>